# Ignore pycache
__pycache__/
# Ignore .pyc files
*.pyc
# Ignore .pyo files
*.pyo
# Ignore .pyd files
*.pyd
# Ignore .pyz files
*.pyz
# Ignore .pyw files
*.pyw
# Ignore .npz files
*.npz

# Lightninig logs
logs/
lightning_logs/

#All files in results folder
results/

#
Notebooks/test_optics

