# Ignore pycache
__pycache__/
# Ignore .pyc files
*.pyc
# Ignore .pyo files
*.pyo
# Ignore .pyd files
*.pyd
# Ignore .pyz files
*.pyz
# Lightninig logs
logs/
lightning_logs/

#All files in results folder
results/*
results2/*
results3/*
results4/*